*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    --black: #1B1B2B;
    --purple: #933FFA;
    --red: #E83F5B;
    --icons: #A5B0C1;
    --overlay: #040911;
    --background: #fff;
    --card: #ffffff;

    --grey-dark: #4D5E77;
    --grey-blue: #A1B2CD;
    --grey-dark: #E5EAF1;

    --shadow: rgb(0 0 112 / 10%);

/* 1rem = 16px (user agent = 100%) */ 
    font-size: 62.5% /* = 10px */;
}

body {
    display: flex;
    height: 100vh;
    background: var(--background);
}

body, button, input, textarea{
    font-size: clamp(14px, 1.6rem, 2vw);
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Poppins', sans-serif;*/
}

.sr-only{
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

.content{
    width: 100%;
    margin: 0 auto;
}

/*buttons and inputs*/

button, input, .button {
    height: 5rem;
    border-radius: .8rem;
    font-size: clamp(14px, 1.6rem, 2vw);
}

button, .button {
    font-family: 'Poppins', sans-serif;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--purple);
    color: white;
    cursor: pointer
}

button:hover, .button:hover{
    filter: brightness(1.2);
    transition: filter 0.2s;
}

button > img,
.button > img{
    margin-right: 1rem;
    width: 2rem;
}

button.outlined,
.button.outlined {
    background: var(--background);
    color: var(--purple);
    border: .2rem solid var(--purple);
}

.content header {
    width: 100%;
    padding: 3.5rem 5rem;
    box-shadow: 5px 5px 45px var(--shadow);
    z-index: 1;
}

.content header img{
    width: 16rem;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .buttons {
    display: flex;
    line-height: 1;
}

header .buttons .button:nth-child(1) {
    margin-right: .8rem;
    padding: 1.3rem 1.6rem;
}

header .buttons .button:nth-child(2) {
    padding: 1.3rem 3.2rem;
}

header .buttons .button:nth-child(1) img {
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
}

header .buttons .button:nth-child(2) img {
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
}